<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterS</servlet-name>
        <servlet-class>Controller.RegisterS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthS</servlet-name>
        <servlet-class>Controller.AuthS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutS</servlet-name>
        <servlet-class>Controller.LogOutS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileS</servlet-name>
        <servlet-class>Controller.ProfileS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUpdateS</servlet-name>
        <servlet-class>Controller.ManageUpdateS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteS</servlet-name>
        <servlet-class>Controller.DeleteS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeesS</servlet-name>
        <servlet-class>Controller.FeesS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendS</servlet-name>
        <servlet-class>Controller.AttendS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackS</servlet-name>
        <servlet-class>Controller.feedbackS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterS2</servlet-name>
        <servlet-class>Controller.RegisterS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetS</servlet-name>
        <servlet-class>Controller.ForgetS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterS</servlet-name>
        <url-pattern>/RegisterS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthS</servlet-name>
        <url-pattern>/AuthS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutS</servlet-name>
        <url-pattern>/LogOutS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileS</servlet-name>
        <url-pattern>/ProfileS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUpdateS</servlet-name>
        <url-pattern>/ManageUpdateS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteS</servlet-name>
        <url-pattern>/DeleteS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeesS</servlet-name>
        <url-pattern>/FeesS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendS</servlet-name>
        <url-pattern>/AttendS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackS</servlet-name>
        <url-pattern>/feedbackS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterS2</servlet-name>
        <url-pattern>/RegisterS2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetS</servlet-name>
        <url-pattern>/ForgetS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
